
<% @orders.each do |order| %>
<div class="row">	
	<%= order.ticket.event.event_title %>
	<%= order.ticket.event.location %>
	<%= order.ticket.event.start_date %>
	<%= order.ticket.event.start_time %>
	<% end %>
</div>
