<div class="landing-page-cover-photo">
	<div class="style1">
	</div>
	<div class="image-text">

		People-Driven Events
	  	<!-- The most powerful event marketing tool<br>are your attendees<br> -->
	<!--
	<div>
		<%= link_to "Create Event", new_event_path, data: { turbolinks: false }, class: "btn btn-primary cover-page-button" %>
	</div> -->
	</div>
</div>
Bongopass reimagines events by redefining what a ticket should be 


Personalized sharing tools for those who are most passionate about your event 
Allow every attendee with a purchased ticket to be a promoter 

	<br>
	<br>
Bongopass collects traditional ticketing fees from our network of events to reward
attendees for sharing their bongopass(ticket) 
After an attendee purchases a ticket, 
bongopass rewards them for inviting their friends to attend the same event

<div class="airplane-share">
<%= image_tag('landing_page_sharing_image.png') %>
</div>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>




	<style type="text/css">
.bar
{
    background-color: green;
    position: relative;
    height: 16px;
    margin-top: 8px;
    margin-bottom: 8px; 
}
</style>

<div id="barcontainer" style="width:200px;">
    <div id="bar1" class="bar" style="width:43%;"></div>
    <div id="bar2" class="bar" style="width:12%;"></div>
    <div id="bar3" class="bar" style="width:76%;"></div>
    <div id="bar4" class="bar" style="width:100%;"></div>
</div>
