

    <!-- Home Section-->
    <section id="home" class="splash parallax landing-splash">
      <div data-parallax="scroll" data-image-src="https://s3.ca-central-1.amazonaws.com/bongopass/austin-neill-247047-2+copy.jpg" class="parallax-bg"></div>
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="title">
                  <h2 class="fw-600 great-experiences">Great Experiences Together</h2>
                  <p class="landing-page-explainer fw-500">Bongopass is the world's first social events platform that enables event hosts to share their profits with attendees. Through Bongopass, attendees are rewarded for helping friends discover new experiences - giving attendees and hosts the ability to work together in the making of great events.</p> 
                  <p class="landing-height-adjust">
                  	<a href="#about" data-scroll="true" class="btn btn-light btn-round landing-how-it-works landing-buttons">How it works<i class="ti-control-play"></i></a>
                  	<a class=""><%= link_to "Become a host", join_path, class: "btn btn-light-out btn-round landing-buttons", data: { turbolinks: false } %> </a>
                  </p>
                </div>
              </div>
            </div>
            <!-- end of row-->
          </div>
          <!-- end of container-->
        </div>
      </div>
    </section>
    <!-- end of home section-->

    <section id="about">
      <div class="container">
      <div class="title center">
          <h4 class="upper">How Bongopass Works - attendees</h4>
          <h2 class="fw-500">Welcome to the future of events<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">

            <div class="col-sm-4">
              <div class="icon-box-small  mb-25"><i class="ti-comment-alt"></i><span class="back-icon"><i class="ti-comment-alt"></i></span>
                <hr>
                <h4>1. Share your link</h4>
                <p class="how-works-text-box">After you purchase a ticket to an event, you will receive a unique event link. Share your link with friends or post it on social media to easily invite others to the same event.</p>
              </div>
              <!-- end of icon box-->
            </div>

            <div class="col-sm-4">
              <div class="icon-box-small boxed mb-25"><i class="icon-trophy"></i><span class="back-icon"><i class="icon-trophy"></i></span>
                <hr>
                <h4>2. Receive credit</h4>
                <p class="how-works-text-box">Bongopass credits your account for each friend that purchases a ticket from your unique event link.</p>
              </div>
              <!-- end of icon box-->
            </div>



            <div class="col-sm-4">
              <div class="icon-box-small outlined mb-25"><i class="icon-wallet"></i><span class="back-icon"><i class="icon-wallet"></i></span>
                <hr>
                <h4>3. Use Credit</h4>
                <p class="how-works-text-box">Use your credit to go to any future event for free!</p>
              </div>
              <!-- end of icon box-->
            </div>

          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>


    <section class="dark blue-landing">
      <div class="container">
        <div class="title center">
          <h4 class="upper fw-600">Built for you.</h4>
          <h2 class="fw-500">Quality Events<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <p class="grey-text serif lead-text raleway-font-fam fw-500 ">From college and university parties to music concerts, we've found the perfect formula for the ultimate social experience.</p>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>


    <!-- Footer-->
    <footer id="footer-widgets">
      <div class="container">
        <div class="go-top">
          <a href="#top">
            <i class="ti-arrow-up"></i>
          </a>
        </div>
        <div class="row">
          <div class="col-md-6 ov-h">
            <div class="row">
              <div class="col-sm-4">
                <div class="widget">
                  <h6 class="upper">Contact</h6>
                  <p>
                    <span>Every email is replied to within 24 hours.</span>
                    <span><%= mail_to "support@bongopass.com" %></span>
                  </p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <div class="row">
              <div class="col-md-12">
                <div class="widget">
                  <h6 class="upper">Stay in touch</h6>
                  <p>Sign up to get early access to new features.</p>
                  <div class="footer-newsletter">
                    <form class="inline-form">
                      <div class="input-group">
                        <input type="email" name="email" placeholder="Your Email" class="form-control"><span class="input-group-btn"><button type="submit" data-loading-text="Loading..." class="btn btn-color">Signup</button></span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </footer>
    <footer id="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="row">
            <div class="col-md-4">
              <div class="copy-text">
                <p><i class="icon-heart red mr-15"></i>© 2018 Bongopass.</p>
              </div>
            </div>
            <!--
            <div class="col-md-4">
              <ul class="list-inline">
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          -->

          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end of container-->
    </footer>
    <!-- end of footer-->



