<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,600" rel="stylesheet">



<div class="home-background">


<div class="parallax-overlay">
	<div class="centrize">
		<div class="v-center">
			<div class="container home-container">
				<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="title">
								<h2 class="">Bongopass shares its profits with your attendees<span class="blue-dot">.</span></h2>
							</div>
  <div class="wpb_text_column wpb_content_element">
    <div class="wpb_wrapper">
      	<p style="font-size: 18px;"> 
    		Bongopass collects traditional "ticketing service fees" and pays out up to 90% of it to your attendees when they successfuly invite friends to join the same event. Start empowering the ones most interested in your events with personalized sharing tools, to acheive a better turnout for your next event. 
		</p>
		<p style="font-size: 15px;">
			We are currently an invite only platform but if you are you an established artist, DJ, venue, or event organizer we'd love to work with you to bring great events to our community. 
		</p>

    </div>



  </div>


  <div class="application-form">
  	<%= link_to "Apply to Host With Bongopass", join_path, class: "application-form-button"%>
  </div>

</div>
</div>
</div>
</div>
</div>
</div>




</div>
</div>