<div class="landing-page-cover-photo">
	<div class="style1">
	</div>
	<div class="image-text">
	  	The most powerful event marketing tool<br>are your attendees<br>
	  	<div class="harness">Harness it with Bongopass </div>
	<div>
		<%= link_to "Create Event", new_event_path, data: { turbolinks: false }, class: "btn btn-primary cover-page-button" %>
	</div>
	</div>
</div>

Personalized sharing tools for those who are most passionate about your event 

	<br>
	<br>

After your attendee purchases a ticket, 
bongopass rewards them for inviting their friends to attend the same event

<div class="airplane-share">
<%= image_tag('landing_page_sharing_image.png') %>
</div>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>




	<style type="text/css">
.bar
{
    background-color: green;
    position: relative;
    height: 16px;
    margin-top: 8px;
    margin-bottom: 8px; 
}
</style>

<div id="barcontainer" style="width:200px;">
    <div id="bar1" class="bar" style="width:43%;"></div>
    <div id="bar2" class="bar" style="width:12%;"></div>
    <div id="bar3" class="bar" style="width:76%;"></div>
    <div id="bar4" class="bar" style="width:100%;"></div>
</div>
