Hi <%= @buyer.fullname %>,
<br/>
<br>
Thanks for purchasing a pass to "<%= @event.event_title %>". We hope you have a great experience!
<br>
<br>
Now you can receive $10 for every 3 purchases from your personal event page. Get started by inviting your friends.
<br>
<br>
<a href="https://frozen-taiga-19769.herokuapp.com/purchases" class="email-invite-friends">Invite Friends</a>

<br>
<br>
<br/>
Cheers, 
<br>
Bongopass Team 
