Hi <%= @buyer.fullname %>,
<br/>
<br>
Thanks for purchasing a pass to "<%= @event.event_title %>". We hope you have a great experience!
<br>
<br>
Now you can receive <%= number_to_currency(@event.reward_fee) %> for every friend you invite. Learn more from your event dashboard.
<br>
<br>
<a href="https://www.bongopass.com/purchases" class="email-invite-friends">Invite Friends</a>

<br>
<br>
On the day of the event just bring a government issued ID so we know it's you. If you have any questions or concerns, feel free to respond to this email. 
<br/>
Cheers, 
<br>
Bongopass Team 
