     <% content_for :navbar do %>

    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar-->
    <header id="topnav">
      <div class="container">
        <div class="logo">
          <a href="index.html">
            <div class="logo-light" style="color:white; font-size: 20px; margin-top: 5px;"> HAPPY BIRTHDAY SINDU</div>
            <div class="logo-dark" style="color:black; font-size: 20px; margin-top: 5px;"> HAPPY BIRTHDAY SINDU</div>
          </a>
        </div>
        <div class="menu-extras">
          <div class="menu-item">
            <a class="navbar-toggle">
              <div class="lines"><span></span><span></span><span></span>
              </div>
            </a>
          </div>
        </div>
        <div id="navigation" data-onepage="true">
          <ul class="navigation-menu nav">
            <li><a href="#home" data-scroll="true">Home</a>
            </li>
            <li><a href="#about" data-scroll="true">About</a>
            </li>
            <li><a href="#menu" data-scroll="true">Menu</a>
            </li>

            <li><a href="#reserve" data-scroll="true">Reserve</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
     <% end %>
    <!-- Home Section-->
    <section id="home">
      <!-- Home slider-->
      <div id="home-slider" class="flexslider">
        <ul class="slides">
          <li>
            <img src="https://lh3.googleusercontent.com/zK0U2bKZeZXXwZkhARO3tJXG_x68FCszsoHApkOFyGQmzRsKsC3rzEt9eXTlMO26AWovayqFMBjmEWzTu1zQ6THARchBZCfgQHn6fOsSbl-1hWgSI53PzZGanivdbUoQWZ14pPQiUcb6jSJfgFCVprGufFkHKml0DrAb6Cn34Ex7CSuMMJTx7PagB-L0XOCSkBIXLfXUc2aEpT4y5HWYa7PwiX7E4PEEVtJkafjyZuTDg63ZZt_-csmHq2bonMJGLYmWj5itjpN2TfeBprfLkateE2jU19WsI0G_azjdMhSLRJ5V2GaIdhRraUcWG9R6ylJXxguy7BTPnb0mPVgJmQcOYn9Nwg_OG62x8z5hcM26F0ocZdjsB5950PF7NSTRBSKMqiBdGNip2i7rnd-DqeZvrEsTQ682ihd0kVgbfZGNnywT_FEhwUEtlqEEwphpsk5JRI8UoIvs4MApkHcC1C_xxYZ1UbpJzxcoU3_UtVQSXwaassqaJKcds-fDSNhkP_8H_gkv-O67XUgooijP072Uc4i9bm0WTbb9V4Du5BtmqmH2y99oIwJg9teH4Vc7cWXOZUuyTOrZzteS4In6KZsoidCA2hsrjeNTiXiDuGALWxkaKtt0ewmHUg32VrRX0K2Em7ScbQsLePQ02GPaAnZluE-cJmCONA=w886-h498-no" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h1 class="cursive m-0">Welcome to</h1>
                  <h2 class="upper mt-0">Andrew's Restaurant for Sindu</h2>
                  <p><a href="#reserve" data-scroll="true" class="btn btn-light-out">Make a Reservation</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of home slider              -->
    </section>
    <!-- end of home section-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-5 md-pull-right">
            <div class="title txt-sm-center txt-xs-center">
              <h2 class="cursive mb-0">Since food is your</h2>
              <h3 class="upper">Second Love<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="section-content p-0 txt-sm-center txt-xs-center">
              <p class="h1 cursive grey-text">Hey babe, you always complain that I never make anything for you so I thought why not make a restaurant menu for you and cook some of your fave meals. I'll make one thing on the menu and have it prepared when you come over in the future so just let me know which one you want ahead of time. Then when you come another day, pick another option on the menu until we try all four of them. This is part 1 of your gift.   </p>
            </div>
            <!-- end of section content-->
          </div>
          <div class="col-md-6">
            <ul class="photo-gallery mt-50">
              <li class="half">
                <div class="gallery-item">
                  <img src="https://s3.ca-central-1.amazonaws.com/bongopass/sindu/IMG-20171231-WA0005.jpg" alt="">
                </div>
              </li>
              <li class="half">
                <div class="gallery-item">
                  <img src="https://s3.ca-central-1.amazonaws.com/bongopass/sindu/IMG_20170210_220723.jpg" alt="">
                </div>
              </li>
              <li class="half">
                <div class="gallery-item">
                  <img src="https://s3.ca-central-1.amazonaws.com/bongopass/sindu/IMG_20170304_135030.jpg" alt="">
                </div>
              </li>
              <li class="half">
                <div class="gallery-item">
                  <img src="https://s3.ca-central-1.amazonaws.com/bongopass/sindu/IMG_20170314_020605.jpg" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section id="menu" class="parallax">
      <div data-parallax="scroll" data-image-src="" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="container">
          <div class="section-content">
            <div class="title center mb-100">
              <h2 class="cursive mb-0">Discover</h2>
              <h3 class="upper">The Menu<span class="red-dot"></span></h3>
              <hr>
            </div>
          </div>
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section class="grey pt-0 ov-v">
      <div class="container">
        <div class="restaurant-menu">
          <div class="row">
            <div class="col-md-6">
              <div class="rs-menu">

                <div class="rs-menu-body " style="margin-left: 0px!important;">
                  <h2 class="cursive">Tamil Food</h2>
                  <p>Pick your favourite tamil food. This will be my first time making it so don't have high expectations LOL</p>
                  <h4></h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu ">
                <div class="rs-menu-body" style="margin-left: 0px!important;">
                  <h2 class="cursive">Shrimp Tacos</h2>
                  <p>Remember when we went to El Catrin. I'll try to make something like that for you bubs.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu">
  
                <div class="rs-menu-body" style="margin-left: 0px!important;">
                  <h2 class="cursive">Veggie Dish</h2>
                  <p>Friday's are always awesome. It'll be even better with your favourite veggie dish.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu">
                <div class="rs-menu-body" style="margin-left: 0px!important;">
                  <h2 class="cursive">Dessert</h2>
                  <p>Not sure what your favourite dessert is but I'll make it yummy in your tummy. We usually stuff ourselves with the main dish and never get dessert lol.</p>
                 
                </div>
              </div>
            </div>

          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end of container-->
    </section>

    <section id="reserve" class="col-md-12 text-center">
      <div class="container ">
        <div class="title mt-0 pl-15 txt-sm-center txt-xs-center">
          <h2 class="cursive mb-0" style="font-family: Raleway, sans-serif; font-size: 20px; padding-bottom: 10px;">Let me know 2-3 days in advance so I can buy the ingredients. </h2>
          <h3 class="upper">Reserve<span class="red-dot"></span></h3>

        </div>
        <div class="section-content">
          <div class="row">

            <div class=" hidden-xs hidden-sm">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="icon-box-basic" style="display: inline-block;"><i class="icon-map"></i>
                    <h4>Address</h4>
                    <p><span>23 Davidoff Street</span><span>Markham, Ontario        </span>
                    </p>
                  </div>
                </div>
                <div class="col-md-12 col-sm-4">
                  <div class="icon-box-basic" style="display: inline-block;"><i class="icon-phone"></i>
                    <h4>Phone</h4>
                    <p><span>647-554-2523</span>
                    </p>
                  </div>
                </div>
                <div class="col-md-12 col-sm-4">
                  <div class="icon-box-basic" style="display: inline-block;"><i class="icon-envelope"></i>
                    <h4>E-mail</h4>
                    <p><span>andrew@bongopass.com</span>
                    </p>
                  </div>
                </div>
              </div>
              <!-- end of row-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content                -->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->