@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.timepicker";
@import "bootstrap-datepicker3";
@import "summernote";


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/





body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  -webkit-font-smoothing: antialiased;
}

.navbar {
	margin-bottom: 0px !important;
}

.nav-text {
	color: #484848 !important;
	font-weight: 500 !important;
}


/* HOME PAGE */

.home-background {
	background: #1d1d1d;
	color: white;
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
}

.parallax-overlay {
    position: relative;
    padding-top: 40px;
    color: #fff;
    width: 100%;
}

.centrize {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    position: relative;
    background: #1d1d1d;
}

.v-center {
    display: table-cell;
    vertical-align: middle;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column_container, .vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.title h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    font-size: 60px;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.wpb_content_element{
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
}


.wpb_wrapper p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.blue-dot {
	color: #348efa;
}

.application-form a {
	padding: 10px;
	background: #348efa;
	border-radius: 20px;
	display: inline-block;
	color: white !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 80px;
}


.application-form-button {
	color: white !important;
}

.application-form-button:hover {
	text-decoration: none;
}

@media (min-width: 992px) {
	.vc_col-md-8 {
	    width: 66.66666667%;
	}

}

@media (min-width: 1200px){
	.home-container {
	    width: 1170px !important;
	}
}



/* JOIN FORM */

.join-popup {
	padding: 10px 15px 15px 15px;
	background: #efefef;
	color: black;
	margin-top: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.join-form {
	text-align: center;
}

.join-form-inputs {
	text-align: center !important;
	font-weight: bold;
	background-color: white;
}


.col-centered{
	float: none;
	margin: 0 auto;
}

.join-submit {
	width: 100%;
	background: #348efa;
	border-color: #348efa;
	color: white;
}

.join-submit:hover {
	background: #348efa;
	border-color: #348efa;
}

.join-network {
	margin-bottom: 30px;
}



/* Login forms */




.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  width: 100%;

  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
    text-decoration: none;
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}


.facebook-button {
	background: #4267b2 !important;
	color: white !important;
	margin-bottom: 10px !important;
	margin-top: 20px;
}

.fb-square-login {
	font-size: 21px;
}

.google-border-wrapper {
	border: 1px solid #dddddd;
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;

  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}




.continue-with-social-account {
	display: block;
	width: 100%;
}

.social-account-facebook {
	width: 100%;
	background: #4267b2;
	color: white;
	margin-bottom: 10px;
	margin-top: 30px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	padding: 0px !important;
}

.social-account-google {
	width: 100%;
	background-color: #fafafa;
	color: #555555;
	border: 1px solid #dddddd;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	padding: 0px !important;
	margin-bottom: 30px;
	display: inline-block;
}

.social-account-google:hover {
	color: #555555 !important;
	background-color: #fafafa;
}

.google-logo {
	float: left;
}

.line-ting {
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
}
.line-ting:before,
.line-ting:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.line-ting:before {
    right: 0.5em;
    margin-left: -50%;
}
.line-ting:after {
    left: 0.5em;
    margin-right: -50%;
}

.or-sign-in {
	margin-top: 30px;
}

.member-log-in {
	color: #348efa;
    text-decoration: none;
    font-weight: bolder;
}

.join-sign-up {
	background: #1d1d1d;
	color: white;
	width: 100px;
	font-weight: bold;
}

.join-log-in {
	margin-top: 20px;
}

.remember-forgot {
	display: block;
}

.remember-me {
	float: left;
	display: inline-block;
}

.forgot-password {
	float: right;
	display: inline-block;
}

@media screen and (min-width: 500px) {
	.icon-big-screen {
		margin-left: -10px !important;
	}

	.popup-box {
		box-shadow: 0 0 8px rgba(0,0,0,0.4);
		background: #EDF0F3;
		padding: 10px 50px 10px 50px;
		margin-top: 30px;
		border-radius: 10px;
	}

	.black-background {
		background: #1d1d1d;
		height: 100%;
		width: 100%;
		overflow: auto;
	}
}




.navbar-z-position {
	position: relative;
}

.modal-backdrop {
  z-index: -1 !important;
}

.modal { 
	background: rgba(000, 000, 000, 0.8); 
}



.avatar-small {
	width: 18px; 
}

.avatar-medium {
	width: 48px; 
}

.avatar-large {
	width: 68px; 
}

.avatar-full {
	width: 100%; 
}


.btn:focus {
	color: white;
}
.btn:hover {
	color: white;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px; 
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.panel-heading.preview {
	padding: 0;
}

.panel-heading.preview img{
	width: 100%; 
}

      /*
      Event create page
      */


.bongopass-instruction-modal {
	font-size: 20px;
	margin-top: 30px;
	color: #348efa;
	font-weight: bold;
	cursor: pointer;

}

.bongopass-explained-bullet {
	margin-bottom: 20px;
	font-size: 15px;
}

.warning-text {
	color: red;
}

.here-underline {
	text-decoration: underline;
}

.modal-margin-exit {
	margin-top: 50px;
	margin-bottom: 50px;
}

.create-event-title {
	font-size: 1.5em;
	text-align: left;
	word-wrap: break-word 
}

.explain-requirement{
	font-size: 0.75em;
	text-align: left;
}

.detail-panel {
	background-color: #00A1F1;
	color: white;
	text-align: center;
	padding: 0.25em;
}

.detail-hr {
	background-color: black;
}


.input_box {
	border: 1px solid #bbc6cc;
}

.date-selection {
	font: sans-serif;
}


.simple_form label {
	text-transform: uppercase;
	font-size: 1em;
	color: black;
	font-weight: 600;
	margin-bottom: 10px;
}


.start-date {
	width: 40%;
	display: inline-block;
}


#basicExample {
	padding-bottom: 5px;
}

.begins-section {
	height: 15px;
}

.form-control {
	height: 40px;
}

.event-description-div {
	padding-bottom: 15px;
}

.event_event_currency {
	padding-top: 15px;
}

.create-organizer-name {
	padding-top: 15px;
}

.currency_box {
	width: 140px;
}

.quantity-price-box {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.cover-quantity-price-box {
	display: block;
}

.remove-ticket-button {
	display: block;
	text-align: right;
}

.ticket-hr {
	display: block;
	background-color: rgba(0, 153, 229, 0.37);
	color: rgba(0, 153, 229, 0.37);
	border: none;
	height: 3px;
	margin-top: 10px !important;
}

.create-ticket-wrapper {
	padding: 20px;
	border: 1px solid gray;
	margin-bottom: 15px;
	background: #EDF0F3;
	border-radius: 5px;
}

.new-ticket-button {
	background-color: #348efa;
	color: white;
	width: 100%;
}

.form-create-button {
	background-color: #34bf49;
	color: white;
	width: 100%;
	font-weight: bold;
}

.create-button-position {
	text-align: center;
	display: block;
	padding-bottom: 80px;
	padding-top: 30px;
	width: 100%;
}

.create-event-header {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-top: 40px;
}

.cover-photo-box {
	border-style: outset ;
	width: 100% ;
	padding: 5px;
	overflow: hidden;
}

.date-override {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

@media screen and (min-width: 1200px) {
	.width-create-events {
		width: 1000px !important;
	}

}

@media screen and (min-width: 800px) {

	.form-control {
		height: 45px;
	}

	.width-container {
		width: 100%; 
	}

	#basicExample {
		padding-left: 0px !important;

	}

	.ticket-section-indent {
		padding-left: 50px !important;
		padding-right: 50px;
		display: block;
	}

	.create-event-title {
		font-size: 2em;
		padding-top: 20px;
	}

	.explain-requirement {
		font-size: 1em;

	}

	.create-button-position {
		text-align: left;
	}


}



      /*
      Event show page
      */



.background-fade {
	display: none;
}

.organizer-section {
	display: none;
}

.cover-photo {
	display: block;
	width: 100%;
	height: auto;
	border: 0;
}


.cover-photo-container {
	border-radius: 5px;

}

.main-info {
	font-family: 'Roboto', sans-serif;
}
.event-title {
	font-size: 25px;
	font-weight: 600;
	padding-left: 15px;
	padding-right: 40px;
	text-transform: uppercase;
}




.onatby-first-container {
	padding-left: 10px;
	padding-right: 10px;
	display: block; 
	box-sizing: border-box;
	padding-top: 10px;
}

.onatby-second-container {
	padding-left: 5px;
	padding-right: 30px;
	display: inline-block; 
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.onatby-section{
	box-sizing: border-box;
    display: block;
	width: 100%;
    vertical-align: top;
    word-wrap: break-word ;
	padding-bottom: 10px;
	margin: 0px;


}


.onatby-block {
	width: 16.6666666667%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 15px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	height: 45px;
	text-align: center;
	
}

.onatby-color-box-on, .onatby-color-box-at, .onatby-color-box-by, .or-color-box {
	width: 40px;
	height: 40px;
	color: white;
	font-weight: 400;
	background: #333/*#525c65*/;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
	border-radius: 50%;
}

.or-block {
	width: 100%;
	display: block;
	vertical-align: top;
	text-align: center;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 15px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	height: 40px
}

.or-holder {
	box-sizing: border-box;
    display: block;
	width: 100%;
    word-wrap: break-word;
	padding-bottom: 10px;
	margin: 0px;
}


.onatby-block-content {
	width: 81.3333333333%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	line-height: 22px;
	letter-spacing: 0.5px;
	padding-left: 10px

}



#button {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 5px 0 #860000, 0 10px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 5px 0 #860000, 0 10px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 5px 0 #860000, 0 10px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

#button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #d20000;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#button:hover span {
    background-color: #d20000;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#button:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #d20000, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #d20000, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #d20000, 0 12px 10px rgba(0, 0, 0, .3);
}

#button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}




.btn-tickets-referral-page {
	background-color: #e61d2b;
	width: 75%;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	border: #e61d2b;
	text-transform: uppercase;

}

.ticket-button-holder {
	text-align: center;
	display: block;
	padding-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
}

.ticket-info-section {
	display: block;
	width: 100%;
}

.ticket-box {
	display: block;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.5px;
	color: black;
}


.ticket-box:hover {
	background: rgba(35,35,35, 0.75);
	cursor: pointer;
	transition: all 0.2s ease-in-out;

}

.hover-pass-cover {
	z-index: -1;
	position: absolute;
	transition: all 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



.hvrbox {
	position: relative;
	display: block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #348efa;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}



.ticket-name-price-desc {
	width: 68%;
	float: left;
	padding-right: 10px;
}

.btn-tickets-modal-page {
	/* background-color: #e61d2b; */
    color: black;
    /* vertical-align: middle; */
    float: right;
    max-width: 100%;
    width: 80px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
    font-size: 16px;
	font-weight: 500;
}

.btn-tickets-modal-page-sold-out {
	background-color: #232323;
	color: white;
	vertical-align: middle;
	float: right;
	max-width: 100%;
	width: 80px;
	position: relative;
	padding-right: 0px;
	padding-left: 0px;
}


.event-description {
	padding-right: 20px;
	padding-left: 20px;
	display: block;
	overflow: hidden;
}

.description-title {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 20px;
	padding-top: 40px;
	color: black;
}

.no-display-larger {
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 20px;
	padding-top: 0px;
	color: black;
}

.holder-social-media-share-buttons {
	text-align: center;
	display: inline-block;
    width: 150px;
    height: 162px;
    vertical-align: middle;
    margin-top: 15px;
}

.social-media-share-buttons-fb {
    background: #3B5998;
    border-color: #3B5998 !important;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
}


.social-media-share-buttons-clipboard {
	background: gray;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	display: block;
	font-size: 11px;
	font-weight: 600;
}

.messenger-button {
	display: block;
	margin-top: 80px;
}

.social-media-share-buttons-messenger {
	width: 100%;
	background-color: gray;
	border-color: gray;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.messenger-button:hover span {
	display: none;
}

.messenger-button:hover .social-media-share-buttons-messenger:after {
	background: #0084ff;
	border-color: #0084ff !important;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	content: 'Send to Messenger';
	width: 100%;
}

.social-media-share-buttons-messenger:hover  {
	background-color: #0084ff;
	border-color: #0084ff !important;
}

.social-media-share-buttons-messenger:active  {
	background: #0084ff !important;
	border-color: #0084ff !important;
}
.messenger-button:active  {
	background: #0084ff !important;
	border-color: #0084ff !important;
}







.social-media-share-buttons-twitter {
	background-color: #55ACEE;
    border-color: #55ACEE !important;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 600;
}

.event-organizer-block {
	padding-right: 20px;
	padding-left: 20px;
	display: block;

}

.show-organizer-title {
	font-size: 15px;
	font-weight: 600;	
	padding-top: 20px;
}

.show-organizer-name {

}

.show-organizer-description {
	padding-bottom: 40px;
}



.photo-request {
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}

.fa-calendar-check-o, .fa-calendar, .fa-map-marker, .fa-usd, .fa-user-circle {
	font-size: 25px;
	text-align: center;
}

.organizer-mobile {
	padding-bottom: 5px;
}


/*@media screen and (min-width: 800px) { */



	.organizer-section-mobile, .organizer-mobile {
		display: none;
	}

	.gray-background {
		z-index: 0;
	}
	.cover-photo {
		height: auto;
		width: auto;
		max-width: 100%;
		max-height: 362.5px;
		display: block;
		overflow-x: hidden;
		margin: 0 auto;
		z-index: 10;
	}

	.background-photo {
		display: block;
		width: 100%;
		height: 280px;
		border: 0;
		position: absolute;
		z-index: 1;
		filter: blur(90px);
	}

	.background-fade {
		display: block;
		width: 100%;
		height: 300px;
		border: 0;
		position: absolute;
		z-index: 1;
	}

	.cover-photo-container {
		width: 725px; /*720px*/
		max-height: 362.5px; /*360px*/
		max-width: 100%;
		height: auto;
		background-color: #E0E1E5 !important;
		text-align: center;
		z-index: 100;
		border: solid 0.5px rgba(128, 128, 128, 0.16);
		box-shadow: 0 0px 2px rgba(0, 0, 0, .35);
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
		
	}


	.big-container {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding-bottom: 60px;
		
	}

	.space-at-top {
		padding-top: 25px;
	}

	.main-info {
		padding-left: 30px;
		padding-right: 30px;
		font-size: 16px;
	}

	.onatby-first-container {
		padding-top: 30px;

	}

	.onatby-second-container {
		padding-left: 50px;

	}

	.onatby-with-host-box {
		display: block;
	}

	.onatby-right-border {
		display: inline-block;
		width: 305px;
		height: 180px;
		border-right: 1px solid #D5D7DF;
		margin-right: 20px;
	}

	.onatby-block {
		width: 55px;
	}

	.event-title {
		font-size: 40px;
		font-weight: 800;
		text-align: center;
		text-transform: uppercase;
		padding-right: 15px;
	}

	.onatby-block-content {
		font-size: 13px;
		font-weight: 500;
		text-align: left;
		width: 240px;
		line-height: 22px;
		padding-left: 0px;
	}

	.onatby-section {
		text-align: left;
		display: inline-block;
		width: auto;
		padding-left: 0px;
	}

	.fa-calendar, .fa-map-marker, .fa-usd {
		font-size: 30px;
	}

	.date-location-bold {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 0px;
		color: black;
	}

	.ticket-button-holder {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 0px;
	}

	.ticket-center-section {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		width: 510px;
	}

	.ticketbox-section {
	    display: inline-block;
	    vertical-align: top;
	    width: 164px;
	    height: 180px;
	    text-align: center;
	    font-size: 22px;
	    border-radius: 5px;
	    text-transform: uppercase;
	    border: 1px solid;
	    margin-left: 10px;
	}

	.ticket-name-section {
		height: 50px;
		line-height: 50px;
		border-bottom: 1px solid;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		color: dodgerblue;
		vertical-align: middle;
		display: block;
	}

	.ticket-name-content {
		word-wrap: break-word;
		display: inline-block;
	    vertical-align: middle;
	    line-height: normal;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.ticket-price-section {
		height: 80px;
		line-height: 60px;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		color: green;
		vertical-align: middle;
		display: block;
		padding-top: 5px;
	}

	.ticket-price-content {
		word-wrap: break-word;
		display: inline-block;
	    vertical-align: middle;
	    line-height: normal;
	    padding-left: 5px;
	    padding-right: 5px;
	    width: 70px;
	    height: 70px;
	    line-height: 70px;
	    background-color: green;
	    border-radius: 50%;
	    color: white;
	}

	.organizer-host {
		overflow: hidden;
    	text-align: center;
    	font-size: 10px;
    	text-transform: uppercase;

	}

	.organizer-host:before,
	.organizer-host:after {
	    background-color: black;
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    width: 20%;
	}
	.organizer-host:before {
	    right: 0.5em;
	    margin-left: -50%;
	}
	.organizer-host:after {
	    left: 0.5em;
	    margin-right: -50%;
	}

	.organizer-blue-name {
		color: dodgerblue;
	}

	.ticket-box {
	    padding: 10px;
	    border: 1px solid #232323;
	    margin-bottom: 10px;
	    font-family: 'Montserrat', sans-serif;
	    background: white;
	    border-radius: 3px;
	}

	.registration-header {
	    text-align: center;
	    background-color: #2e71b7;
	    color: white;
	    margin-bottom: 30px;
	    margin-top: 30px;
	    margin-left: 50px;
	    margin-right: 50px;
	    padding: 5px;
	    text-transform: uppercase;
	}

	.ticket-line {
		margin-left: 50px;
		margin-right: 50px;
	}



	



/* } */




/* red- #e61d2b  blue- #0061d5*/


section.hero {
    position: relative;
    overflow: hidden;
    background: white;
    margin-left: -10px;
    margin-right: -10px;

    box-sizing: border-box;
    display: block;
}

.bongo-design {
	color: #232f3e !important;
	font-family: 'Comfortaa', cursive;
    font-size: 25px;
    font-weight: 900;
    padding: 2px 0px 0px 0px !important;
    text-transform: uppercase;
    line-height: 50px;
}

.pass-color {

}

.create-event {
	color: white ;

}
/* green - #39B54A */

.create-event-button {
	color: white;
	padding-top: 2px;
}

.create-event-text {
	color: white !important;
	font-size: 16px;
}

.navbar-right {
	font-size: 16px;
	color: white !important;
}



.dropdown-toggle {
}

.landing-slogan {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 500;
}

.landing-attendees {
	font-family: 'Lato', sans-serif;
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: 800;

}

.navbar-default {
	border-bottom: 1px solid #e4e4e4 !important;
	background-color: #f6f7f8 !important;
}

.about-button-position  {
	padding-top: 2px ;
	height: 100%;
}

.about-button  {
	color: white !important;
}

#navbar ul li a:hover {
  background-color: black !important ;
  height: 100%;
  color:white ;
}


.login-text {
	color: white !important;
}


.airplane-share {
	text-align: center;
	padding-left: 250px;
}

.slogan-area {
	background-color: white;

}


.landing-page-cover-photo {
	height: 500px;
	width: 100%;
}

.image-text {
  z-index: 10;
  color: #fff;
  font-size: 60px;
  position: absolute;

  font-weight: 800;
  width: 100%;
  padding-top: 3.1em;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-align: center;

}

.style1 {
    background: url(https://drscdn.500px.org/photo/67141103/q%3D80_m%3D1500/v2?user_id=22403173&webp=true&sig=39cc9acb2df2899997421f2b9dcd3a245f7166e233fa6b8e4f359dad1db6bc16) no-repeat center center ;
    filter: brightness(60%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    width: 100%;
    z-index: -1;
    position: absolute

}

.harness {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: #fff;
	padding-top: 20px;
}


.cover-page-button {
	background-color: #0099e5;
	font-family: 'Lato', sans-serif;
	border: #0099e5;
}


/*
table {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
  tr {
     &:hover {
      background: #f4f4f4;
      
      td {
        color: #555;
      }
    }
  }
  th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }
}
*/

/************ SOLD **************/

.sold-ticket-table-header {
	color: white;
	background: #666A73;
}

.sold-ticket-name {
	padding: 5px;
	display: inline-block;
}

.passes-table {
	table-layout: fixed;
}

.long-email {
	overflow: auto;
}

.sold-summary-table {
	table-layout: auto;
	width: auto !important;
}

.sold-summary-wrapper {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}

.payout-details-wrapper {
	display: block;
	vertical-align: top;
}

.description-title-summary {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 5px;
	padding-top: 10px;
	color: black;
}

.payout-details-title {
	display: block;
	font-size: 13px;
	font-weight: 600;
	padding-bottom: 5px;
	color: black;
}

.payout-details-description {
	display: block;
	width: 300px;
	border: 1px solid;
    margin-top: 10px;
    padding: 10px;
}

.guest-list {
	margin-top: 20px;
}

@media (min-width: 576px)  {
	.pass-type-row {
		min-width: 300px;
	}

	.sold-net-sales-row {
		min-width: 100px;
	}
}

@media (min-width: 900px) {
	.payout-details-description {
	    margin-top: 40px;
	}

	.payout-details-wrapper {
		display: inline-block;
	}

	.guest-list {
		text-align: right;
	}

}


/************ INDEX PAGE EVENTS **************/

.sold-container {
	width: 880px;
	margin: auto;
}

.box-cover {
	text-align: center;
}

.boxed {
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 150px;
    background-color: #13B57D;
    text-align: center;
}

.boxed-gray {
	background-color: #353535;
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 150px;
    text-align: center;
}


.boxed-text {
	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	color: white;
  }

.box-data {
	font-family: 'Lato', sans-serif ;
	font-size: 3.5em;
	font-weight: 800;
}

.box-description {
	font-size: 11px;
	font-family: 'Lato', sans-serif ;
	font-weight: bold;
}


.event-date {
	border: solid 1px black;
}

.event-row {
	margin-bottom: 25px;
	border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.panel-my-events {
	background: #f6f7f8 !important;
	font-weight: 900;

}

.index-event-title {
	font-weight: 600 !important;
}

.index-buttons {
	width: 80px;
}





@media screen and (min-width: 768px) {
	.index-event-container {
		padding-left: 45px;
		padding-right: 45px;
	}

	.bongo-design {
		padding-top: 2px;
	}

}

/* new show page */

@media screen and (min-width: 768px) {
	.location-for-mobile{
		display: none !important; 
	}

	.main-content-section {
		padding-left: 0px !important;
	}

	.edit-event-small {
		display: none;
	}
}

.edit-event {
    color: white;
    float: right;
    position: relative;
    z-index: 100;
    top: 17px;
    right: 50px;
    border: 1px solid white;
    padding: 5px;
}

.edit-event:hover {
    color: #232323;
	background-color: white;
	text-decoration: none;
}

.edit-event:active, .edit-event:focus {
    color: #232323;
	background-color: white;
	text-decoration: none;
}

.edit-event-small {
	text-align: right;
	margin-bottom: 20px;
}

.edit-event-mobile {
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.edit-event-mobile:hover {
    color: #232323;
	background-color: white;
	text-decoration: none;
}

.edit-event-mobile:active, .edit-event-mobile:focus {
    color: #232323;
	background-color: white;
	text-decoration: none;
}


.set-background {
	background-color: #f6f7f8;
	letter-spacing: 0.5px;
}


.font-set-show-page {
	font-family: 'Montserrat', sans-serif;
	background-color: #f6f7f8;
}


.top-color-section {
	background-color: #232323;
	border: none;
}



.page-header {
	display: block;
	padding-bottom: 20px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	padding-top: 20px;
	border-bottom: 0px;
	letter-spacing: 0.5px;
	margin-top: 0px;
}


.event-venue-section {
    margin-right: 20px;
    padding: 8px;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
	border-radius: 5px;
    text-align: left;
    margin-bottom: 15px;
    background: #348efa;
}

.invite-section-for-mobile {
	display: none !important;
}

.disable-blue-event {
	background: none !important;
	border-right: none !important;
	border-left: 1px solid white;
	border-radius: 0px; 
}


.event-venue-title {
	border-bottom: 1px solid #FFFFFF;
    margin: 0 0 5px 0;
    padding: 0 0 0px 0;
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
.event-venue-actual-name {
	font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    padding-top: 3px;
    margin-bottom: 5px;
    width: min-content; 
}
.see-location {
	font-size: 9px;
    font-weight: 500;
    color: #FFFFFF;
}
.show-map.show-map:visited {
	color: white;
}

.show-map {
	color:white;
}

.show-map:hover {
	color: wheat;
}


.event-organizer-presents {
	font-size: 11px;
    font-weight: 600;
    font-style: italic;
    color: white;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.headline-event-title {
	margin-top: 0px;
	color: white;
	font-weight: bold;
}

.alignment-wrapper {
	display: inline-block;
	text-align: left;
}


.event-section-w-on {
	color: white;
	display: block;
}

.on-only {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	text-align: center;
}

.headline-event-date {
	font-size: 15px;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	line-height: 20px;
}

.bongopass-information-box {
	display: inline-block;
	vertical-align: top;

}

.photo-and-ticket-section {
	display: block;

}

.ticket-border-wrapper {
	padding-top: 10px;
	padding-bottom: 25px;
}

.ticket-name {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 500;
}

.ticket-price {
	font-weight: 500;
	font-size: 14px;
}

.ticket-description {
	font-size: 12px;
}

.how-bongopass-works {
	float: right;
	font-size: 12px;
	color: #e61d2b;
	font-style: italic;

}

.plan-your-experience {
	margin-top: 80px;
	margin-bottom: 20px;
}

.address-below-map {
	text-align: center;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

#show-map {
	padding-top: 20px;
}




@media screen and (max-width: 768px) {

	.edit-event-large {
		display: none;
	}

	.location-for-mobile {
		display: block;
	}
	.event-venue-section {
		display: none;
	}

	.no-display-larger {
		display: block;
		font-size: 18px;
		font-weight: 600;
		padding-bottom: 20px;
		padding-top: 40px;
		color: black;
	}

	.invite-section-for-mobile {
		display: block !important;
		text-align: center;
		margin-right: 0px !important;
	}

	.ticket-border-wrapper-mobile {
	}


	.ticket-wrapper-for-mobile {
		margin-left: 20px;
		margin-right: 20px;
	}

	.page-header {
		text-align: center;
	}

	.headline-event-date {
		text-align: left;
	}

	.messenger-button {
		display: none;
	}

	.show-organizer-description {
		padding-bottom: 20px;
	}

	.show-map {
		font-size: 10px;
	}
	.show-map.show-map:visited {
		color: white;
	}

	.show-map:hover {
		color: wheat !important;
	}

	.calendar-map-wrapper {
		text-align: center;
	}

	.bongo-design {
		margin-left: 10px;
	}



}



/* Referral Page */

.invite-sentence {
	font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    padding-top: 3px;
    margin-bottom: 5px;
}

.inviter-name {
	text-transform: capitalize;
}

.page-header-referral {
	background: none !important;
}

.you-are-going-top {
	font-size: 18px;
	font-weight: 900; 
	color: black;
	max-width: 780px;
}

.boxy {
	text-align: center;
}

.boxed-add {
    display: inline-block;
    width: 230px;
    vertical-align: top;
    margin-right: 10px;
    height: 162px !important;
}

.boxed-text-add {
	top: 45% !important;
}

.box-data-add {
	font-size: 55px !important;
}

.box-data-description {
	font-size: 12px;
}

.box-description-add {
	font-size: 15px !important;
	font-weight: 700;
}

.only-you-can-see {
    font-size: 14px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #232323;
}


.only-you-can-see-mobile {
	display: none;
}

#bar {
	width: 150px;
    border-bottom: 1px dotted black;
    overflow: scroll;
    font-size: 10px;
    height: 28px;
    vertical-align: middle;
    line-height: 28px;
    padding-left: 5px;
}

#bar::selection {
	background: #13B57D;
	color: white;
	letter-spacing: 0.5px;
}

.show-friends {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
	margin-top: 2px;
	color: white;
	font-weight: 600;

}

.friends-name {
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 10px;
}

.modal-header-joined {
	background: #348efa;
	color: white;
}





@media screen and (max-width: 768px) {
	.only-you-can-see-mobile {
		display: block;
	    font-size: 14px;
	    text-align: center;
	    padding: 10px;
	    margin-top: 20px;
	    border: 1px solid #232323;

	}

	.only-you-can-see {
		font-size: 10px;
		padding-top: 10px;
		display: none;
}
}





/* Order form */

.order-page-row {
	height: 100%;
	background-color: #f6f7f8;

}

.order-picture {
	text-align: center;
}

.o-event-title, .o-ticket-name {
	text-align: center;
}

.order-container {
	font-family: 'Montserrat', sans-serif;
	background-color: #f6f7f8;
	padding-top: 30px;
	height: 100%;
	z-index: 100;
}

.pass-information {
	margin-top: 18px;
}

.price-credit-wrapper {
	display: block;
	width: 100%;
}

.price-credit-title {
	display: inline-block;
	width: 60%;
	float: left;
}

.price-credit-data {
	display: inline-block;
	width: 40%;
	float: right;
	text-align: right;
}

.minus-sign {
	margin-right: 5px;


}

.total-wrapper {
	float: left;
	display: block;
	width: 100%;
	border-top: 1px solid rgba(46, 62, 72, 0.12);
	border-bottom: 1px solid rgba(46, 62, 72, 0.12);

}

.total-title {
	display: inline-block;
	width: 60%;
	float: left;
}

.total-data {
	display: inline-block;
	width: 40%;
	float: right;
	text-align: right;
}

.total-title-text {
	font-weight: 700;
}

.total-data-text {
	font-weight: 700;
}

.payment-rows {
	margin-bottom: 10px;
}

.expiration-date-month {
	width: 45%;
	display: inline-block;
}

.expiration-date-year {
	width: 50%;
	display: inline-block;
}

.name-title {
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 600;
}


.payment-title {
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 30px;
	font-weight: 600;

}

.order-page-button {
	width: 100%;
	background: #353535;
	color: white;
}

.delivery-method {
	margin-top: 140px;
	font-size: 12px;
	font-weight: 600;
}

.refund-policy {
	margin-top: 34px;
	font-size: 12px;
	font-weight: 600;
}

.limit-policy {
	margin-top: 34px;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 100px;

}

.will-call {
	margin-top: 10px;
	font-size: 12px;
	
}



@media screen and (min-width: 992px) {
	.order-alignment {
		margin-left: 70px;
	}

	.payment-title, .name-title {
		margin-left: 70px;
	}

	.new_order {
		border-left: 1px solid rgba(46, 62, 72, 0.12);
		height: 100%;
	}
}


@media screen and (max-width: 767px) { 
	.name-title {
		margin-top: 50px;
	}
}




/* Purchases */

.no-passes {
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
}

.purchases-event-title {
	font-size: 18px;
    font-weight: 500;
}

.purchases-panel {
	background: #353535 !important;
	color: white !important;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
}

.purchases-passes {
	border: 1px solid #232323;
	padding: 10px; 
	margin-bottom: 10px;
	border-radius: 3px;
}



.purchases-share-button {
	color: #348efa;
	padding: 10px;
	border-radius: 3px;
	font-size: 17px;
	font-weight: 700;
}

.share-button-wrapper {
	padding: 15px;
	text-align: center;
}

.share-button-mobile {
	display: block;
	width: 100%;
	background: #348efa;
	color: white;
	border-radius: 3px;
	text-align: center;
}

.boxed-for-purchases {
	margin-top: 15px;
	width: 100% !important;
	border-radius: 3px;
}


@media screen and (min-width: 768px) { 



}




/* Support Page */
.trams-conditions #toggle4 {
  font-size: 15px;
  color: #747474;
  text-decoration: none;
  padding-left: 30px;
  background-size: 9%;
}

.trams-conditions {
  padding: 0 10px;
  margin: 10px 0;
  text-decoration: none;
}

.trams-conditions:hover {
	text-decoration: none;
}




.trams-conditions .trams-con {
  display: none;
  overflow: auto;
}

.question-wrapper {
	display: block !important;
}

.fa-plus, .fa-minus {
	cursor: pointer;
}

.fa-plus:before {
    background: black;
    color: white;
    padding: 3px 4px 3px 4px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;

}

.question-headers {
	padding-left: 5px;
	margin-bottom: 40px;
}


.support-question {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin-top: 0px;
	letter-spacing: 0.5px;
    font-weight: 600;
}

.trams-con {
	display: block;
	vertical-align: top;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
    line-height: 1.1;
    font-size: 15px;
}

.question-answer {
	display: inline-block;
	vertical-align: top;
    width: 80%;
    padding-left: 5px;
}


.contact-for-more-support {
	font-size: 15px;
    font-weight: 500;
    margin-bottom: 80px;
    font-family: 'Montserrat', sans-serif;
}

.support-header {
	border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.feedback-opening {
    max-width: 700px;
    margin: 25px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.feedback-form {
	border-bottom: 1px solid gray !important;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
}

.feedback-input {
	height: 100px;
}

.send-feedback-submit {
	margin-bottom: 50px;
	font-weight: bold;
}



			       






