@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.timepicker";
@import "bootstrap-datepicker3";
@import "summernote";


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.gray-background {
	background-color: #f7f8fa;
}

.avatar-small {
	width: 28px; 
}

.avatar-medium {
	width: 48px; 
}

.avatar-large {
	width: 68px; 
}

.avatar-full {
	width: 100%; 
}


.btn:focus {
	color: white;
}
.btn:hover {
	color: white;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px; 
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.panel-heading.preview {
	padding: 0;
}

.panel-heading.preview img{
	width: 100%; 
}

      /*
      Event create page
      */

.create-event-title {
	font-size: 1.5em;
	text-align: center;
}

.detail-panel {
	background-color: #00A1F1;
	color: white;
	text-align: center;
	padding: 0.25em;
}

.detail-hr {
	background-color: black;
}


.input_box {
	border: 1px solid #bbc6cc;
}

.date-selection {
	font: sans-serif;
}


.simple_form label {
	text-transform: uppercase;
	font-size: 1em;
	color: black;
	font-weight: 500;
	margin-bottom: 10px;

}


.start-date {
	width: 40%;
	display: inline-block;
}

.end-date {
	width: 40%;
	display: inline-block;
}

#basicExample {
	padding-bottom: 5px;
}




      /*
      Event show page
      */

.cover-photo {
	display: block;
	width: 100%;
	height: auto;
	border: 0;
}

.cover-photo-container {
}

.main-info {
	font-family: 'helvetica', sans-serif;
}
.event-title {
	font-size: 25px;
	font-weight: 600;
	padding-left: 15px;
	padding-right: 40px;
}

.onatby-first-container {
	padding-left: 10px;
	padding-right: 10px;
	display: block; 
	box-sizing: border-box;
}

.onatby-second-container {
	padding-left: 5px;
	padding-right: 30px;
	display: inline-block; 
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.onatby-section{
	box-sizing: border-box;
    display: block;
	width: 100%;
    vertical-align: top;
    word-wrap: break-word ;
	padding-bottom: 10px;
	margin: 0px;


}


.onatby-block {
	width: 16.6666666667%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 15px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	height: 40px
}

.onatby-color-box-on {
	width: 40px;
	height: 40px;
	color: white;
	font-weight: 400;
	background: rgba(77, 144, 254, .8)/*#525c65*/;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	border-radius: 50%;

}
.onatby-color-box-at {
	width: 40px;
	height: 40px;
	background-color: rgb(27, 193, 35);
	opacity: 0.8;
	color: white;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	border-radius: 50%;

}
.onatby-color-box-by {
	width: 40px;
	height: 40px;
	background-color: rgb(255, 153, 21);
	opacity: 0.8;
	color: white;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	border-radius: 50%;

}

.onatby-block-content {
	width: 81.3333333333%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	line-height: 22px;
	letter-spacing: 0.5px;

}

.btn-tickets-show-page {
	background-color: #e61d2b;
	width: 75%;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	border: #e61d2b;

}

.btn-tickets-referral-page {
	background-color: #e61d2b;
	width: 75%;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	border: #e61d2b;
	text-transform: uppercase;

}

.ticket-button-holder {
	text-align: center;
	display: block;
	padding-bottom: 20px;
	padding-top: 20px;
}

.ticket-info-section {
	display: block;
	width: 100%;
}

.ticket-box {
	display: block;
}

.ticket-name-price-desc {
	width: 68%;
	float: left;
	padding-right: 10px;
}

.btn-tickets-modal-page {
	background-color: #e61d2b;
	color: white;
	vertical-align: middle;
	float: right;
	max-width: 100%;
	width: 80px;
	position: relative;


}

.btn-tickets-modal-page-sold-out {
	background-color: gray;
	color: white;
	vertical-align: middle;
	float: right;
	max-width: 100%;
	width: 80px;
	position: relative;

}


.event-description {
	padding-right: 20px;
	padding-left: 20px;
	display: block;
}

.description-title {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;
	padding-top: 40px;
}

.holder-social-media-share-buttons {
	text-align: center;
	display: block;
	padding-bottom: 20px;
	padding-top: 20px;
	line-height: 40px;

	
}

.social-media-share-buttons-fb {
	background-color: #3B5998;
	border-color: #3B5998 !important;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.social-media-share-buttons-messenger {
	background-color: #0084ff;
	border-color: #0084ff !important;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.social-media-share-buttons-twitter {
	background-color: #55ACEE;
	border-color: #55ACEE !important;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.event-organizer-block {
	padding-right: 20px;
	padding-left: 20px;
	display: block;

}

.show-organizer-title {
	font-size: 15px;
	font-weight: 600;	
	padding-top: 20px;
}

.show-organizer-name {

}

.show-organizer-description {
	padding-bottom: 40px;
}

.referral-header {
	padding: 20px;
}

@media screen and (min-width: 800px) {
	.cover-photo {
		height: 360px;
		width: auto;
		display: block;
		margin: 0 auto;
			
	}

	.cover-photo-container {
		width: 720px;
		height: 360px;
		background-color: #E0E1E5 !important;
	}
}




/* red- #e61d2b  blue- #0061d5*/


section.hero {
    position: relative;
    overflow: hidden;
    background: white;
    margin-left: -10px;
    margin-right: -10px;

    box-sizing: border-box;
    display: block;
}

.bongo-design {
	color: #232f3e;
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
	font-weight: 900;
	padding-top: 1em;
}

.create-event {
	color: white ;

}
/* green - #39B54A */

.create-event-button {
	color: white;
	padding-top: 2px;
}

.create-event-text {
	color: white !important;
	font-size: 16px;
}

.navbar-right {
	font-size: 16px;
	color: white !important;
}

.navbar-default {
	color: white;
}


.dropdown-toggle {
	color: white !important;
}

.landing-slogan {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 500;
}

.landing-attendees {
	font-family: 'Lato', sans-serif;
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: 800;

}

.navbar-default {
	background-color: white;
	color: black;
}

.about-button-position  {
	padding-top: 2px ;
	height: 100%;
}

.about-button  {
	color: white !important;
}

#navbar ul li a:hover {
  background-color: black !important ;
  height: 100%;
  color:white ;
}


.login-text {
	color: white !important;
}

.boxed {
	border: 1px;
	border-style: solid;
	border-color: white;
	height: 125px;
	background-color: #13B57D;
	text-align: center;

}

.boxed-text {
	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	color: white;
  }

.box-data {
	font-family: 'Lato', sans-serif ;
	font-size: 40px;
	font-weight: 800;
}

.box-description {
	font-size: 10px;
	font-family: 'Lato', sans-serif ;
}

.airplane-share {
	text-align: center;
	padding-left: 250px;
}

.slogan-area {
	background-color: white;

}


.landing-page-cover-photo {
	height: 500px;
	width: 100%;
}

.image-text {
  z-index: 10;
  color: #fff;
  font-size: 60px;
  position: absolute;

  font-weight: 800;
  width: 100%;
  padding-top: 3.1em;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-align: center;

}

.style1 {
    background: url(https://drscdn.500px.org/photo/231048293/q%3D80_m%3D1500_k%3D1/v2?webp=true&sig=af92c96f987e3d711bb7ba4c710801bd92f11525251d54991665131da29833a9) no-repeat center center ;
    filter: brightness(60%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    width: 100%;
    z-index: -1;
    position: absolute

}

.harness {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: #fff;
	padding-top: 20px;
}


.cover-page-button {
	background-color: #0099e5;
	font-family: 'Lato', sans-serif;
	border: #0099e5;
}


/*
table {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
  tr {
     &:hover {
      background: #f4f4f4;
      
      td {
        color: #555;
      }
    }
  }
  th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }
}
*/





			       






