@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";


.avatar-small {
	width: 28px; 
}

.avatar-medium {
	width: 48px; 
}

.avatar-large {
	width: 68px; 
}

.avatar-full {
	width: 100%; 
}

label {
	color: #565a5c;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 10px;
}

