<% if @speaker %>

	<div class="row">	
	<% @speaker.each do |speaker| %>
		<div class="col-md-4">	
			<div class="panel panel-default">
				<div class="panel-heading preview">	
					<%= image_tag speaker.avatar.url() %>
				</div>
				<div class="panel-body">
					<span class="pull-right">	
						<%= link_to speaker, remote: true, method: :delete, data: {confirm: "Are you sure?"} do%>
						<i class="fa fa-times fa-lg"></i>
						<% end %>
					</span>
				</div>
			</div>
		</div>
		<% end %>
	</div>

<% end %>